<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="css/base.css" media="screen" rel="Stylesheet" type="text/css" />
    <title>Greenermedia - Growing good ideas</title>
		<!--[if IE]>
			<style>
				body{height: 100%;}
				.container{margin-top: 15px}
			</style>
		<![endif]-->
		<!--[if lt IE 8]>
<![endif]-->
</head>
 	
<body>
<div id="wrapper">
		<ul id="social">
			<li><a href="http://www.youtube.com/user/greenermedia"><img src="images/youtube.png" alt="youtube"></a></li><li><a href="http://twitter.com/GreenerMedia"><img src="images/twitter.png" alt="twitter"></a></li><li><a href="http://www.facebook.com/greenermedia"><img src="images/facebook.png" alt="facebook"></a></li><li><a href="http://vimeo.com/greenermedia"><img src="images/vimeo.png" alt="vimeo"></a><li><a href="#"><img src="images/home.png" alt="home"></a></li>
		</ul>
<div id="content-wrapper">

    <div id="header">
        <div>
            <a href="index.html">
                <img src="images/gmlogo.jpg" alt=" Greenermedia logo" />
            </a>
        </div>
        <div id="nav">
              <ul>
               <li><a href="aboutus.html">About Us</a></li>
               <li class="services"><a href="services.html">Services</a></li>
               <li class="ourwork"><a href="ourwork.html">Our Work</a></li>
               <li class="ourclients"><a href="ourclients.html">Our Clients</a></li>
               <li class="news"><a href="news.html">News</a></li>
               <li class="links"><a href="links.html">Links</a></li>
              </ul>
        </div><!-- end nav -->
    </div><!-- end header -->

 <div id="content">
	<div id="left-column">
		<div class="cimgh"><img src="images/mainlogo.jpg" alt="main logo" /></div>
		<h3>4.20.2010    NEW WEBSITE LAUNCHES!</h3>
	</div>

	<div id="right-column">
		<object id="vimeo" width="480" height="270"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=8354133&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=8354133&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="480" height="270"></embed></object>
		<p>Greener Media is an award winning multimedia production 
		company based in Brooklyn, New York. Our creative team 
		knows how to convey your message with dynamic media. 
		<a href="#">Learn more about us.</a></p>
	</div>
 </div>

</div><!-- end wrapper -->

<div id="footer"></div>

</div><!-- end content-wrapper -->
</body>

</html>